
.tech-icons {
    font-size: 4.5em !important;
    margin: 15px !important;
    padding: 15px !important;
    opacity: 0.93 !important;
    border: 1.7px solid #000000 !important;
    vertical-align: middle !important;
    text-align: center !important;
    justify-content: center;
    border-radius: 5px !important;
    display: flex !important;
    box-shadow: 4px 5px 4px 3px #000000 !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
    height: 6rem;
  }

.tech-icons:hover {
transform: scale(1.05) !important;
overflow: hidden !important;
border: 2.2px solid #000000 !important;
}

.tech-icon-images {
padding: 20px !important;
line-height: 1.6 !important;
}
